<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ERP_ventas.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <ERP_ventas.Properties.Settings>
            <setting name="IDUsuario" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="cadenaConexion" serializeAs="String">
                <value>Data Source=187.241.125.146;Initial Catalog=ERP2020;Persist Security Info=True;User ID=sa; Password=Hola.123</value>
            </setting>
            <setting name="nombreServidor" serializeAs="String">
                <value>187.241.125.146</value>
            </setting>
            <setting name="nombreBD" serializeAs="String">
                <value>ERP2020</value>
            </setting>
        </ERP_ventas.Properties.Settings>
    </userSettings>
</configuration>